BillingAutomation/pkgs/Wadl/RetriveTerminal.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://asia-001.azure-apim.net/apim/retrievebankwisereport-5f33365b4e31e1d200-5f3fda4dc7e0db74ce" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="RetriveTerminal" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="RetriveTerminal"></doc>
  <grammars>
    <jsonTypes targetNamespace="https://asia-001.azure-apim.net/apim/retrievebankwisereport-5f33365b4e31e1d200-5f3fda4dc7e0db74ce" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="GetBankWiseReport_responses_default_def_id_def" />
      <string name="GetBankWiseReport_responses_default_def_bankId_def" />
      <string name="GetBankWiseReport_responses_default_def_bankName_def" />
      <string name="GetBankWiseReport_responses_default_def_merchant_def" />
      <string name="GetBankWiseReport_responses_default_def_currency_def" />
      <string name="GetBankWiseReport_responses_default_def_idMerchant_def" />
      <string name="GetBankWiseReport_responses_default_def_idTerminal_def" />
      <string name="GetBankWiseReport_responses_default_def_address_def" />
      <string name="GetBankWiseReport_responses_default_def_province_def" />
      <string name="GetBankWiseReport_responses_default_def_district_def" />
      <string name="GetBankWiseReport_responses_default_def_merchantCategory_def" />
      <string name="GetBankWiseReport_responses_default_def_contactPerson_def" />
      <string name="GetBankWiseReport_responses_default_def_contactNo1_def" />
      <string name="GetBankWiseReport_responses_default_def_contactNo2_def" />
      <string name="GetBankWiseReport_responses_default_def_requestVerifiedBy_def" />
      <string name="GetBankWiseReport_responses_default_def_contactOfPos_def" />
      <string name="GetBankWiseReport_responses_default_def_serialKey_def" />
      <string name="GetBankWiseReport_responses_default_def_previousSerial_def" />
      <string name="GetBankWiseReport_responses_default_def_status_def" />
      <string name="GetBankWiseReport_responses_default_def_configuredBy_def" />
      <string name="GetBankWiseReport_responses_default_def_applicationDate_def" />
      <string name="GetBankWiseReport_responses_default_def_shortName_def" />
      <string name="GetBankWiseReport_responses_default_def_remarks_def" />
      <string name="GetBankWiseReport_responses_default_def_receivedBy_def" />
      <string name="GetBankWiseReport_responses_default_def_receivedContactNo_def" />
      <integer name="GetBankWiseReport_responses_default_def_connectivities_def_items_def" />
      <array type="integer" name="GetBankWiseReport_responses_default_def_connectivities_def" />
      <string name="GetBankWiseReport_responses_default_def_createdBy_def" />
      <string name="GetBankWiseReport_responses_default_def_deployedAt_def" />
      <string name="GetBankWiseReport_responses_default_def_merchantLocation_def" />
      <string name="GetBankWiseReport_responses_default_def_deployVerifiedBy_def" />
      <string name="GetBankWiseReport_responses_default_def_updatedDate_def" />
      <string name="GetBankWiseReport_responses_default_def_deployDate_def" />
      <string name="GetBankWiseReport_responses_default_def_requestName_def" />
      <integer name="GetBankWiseReport_responses_default_def_deploymentStatus_def" />
      <boolean name="GetBankWiseReport_responses_default_def_isSold_def" />
      <string name="GetBankWiseReport_responses_default_def_deploymentCreatedBy_def" />
      <string name="GetBankWiseReport_responses_default_def_deploymentsUpdatedBy_def" />
      <string name="GetBankWiseReport_responses_default_def_deployedBy_def" />
      <object name="GetBankWiseReport_responses_default_def">
        <property name="id" type="string" />
        <property name="bankId" type="string" />
        <property name="bankName" type="string" />
        <property name="merchant" type="string" />
        <property name="currency" type="string" />
        <property name="idMerchant" type="string" />
        <property name="idTerminal" type="string" />
        <property name="address" type="string" />
        <property name="province" type="string" />
        <property name="district" type="string" />
        <property name="merchantCategory" type="string" />
        <property name="contactPerson" type="string" />
        <property name="contactNo1" type="string" />
        <property name="contactNo2" type="string" />
        <property name="requestVerifiedBy" type="string" />
        <property name="contactOfPos" type="string" />
        <property name="serialKey" type="string" />
        <property name="previousSerial" type="string" />
        <property name="status" type="string" />
        <property name="configuredBy" type="string" />
        <property name="applicationDate" type="string" />
        <property name="shortName" type="string" />
        <property name="remarks" type="string" />
        <property name="receivedBy" type="string" />
        <property name="receivedContactNo" type="string" />
        <property name="connectivities" typeRef="GetBankWiseReport_responses_default_def_connectivities_def" />
        <property name="createdBy" type="string" />
        <property name="deployedAt" type="string" />
        <property name="merchantLocation" type="string" />
        <property name="deployVerifiedBy" type="string" />
        <property name="updatedDate" type="string" />
        <property name="deployDate" type="string" />
        <property name="requestName" type="string" />
        <property name="deploymentStatus" type="integer" />
        <property name="isSold" type="boolean" />
        <property name="deploymentCreatedBy" type="string" />
        <property name="deploymentsUpdatedBy" type="string" />
        <property name="deployedBy" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://asia-001.azure-apim.net/apim/retrievebankwisereport-5f33365b4e31e1d200-5f3fda4dc7e0db74ce">
    <resource path="/{connectionId}/">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="GET" id="GetBankWiseReport" actionName="GetBankWiseReport" siena:isDeprecated="false">
        <doc title="GetBankWiseReport&#xA;GetBankWiseReport" />
        <request>
          <param style="header" name="Content-Type" type="xs:string" />
          <param style="header" name="application/json;" type="xs:string" />
        </request>
        <response>
          <representation mediaType="application/json" element="service:GetBankWiseReport_responses_default_def" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="shared_retrievebankwisereport-5f33365b4e31e1d200-5f3fda4dc7e0db74ce" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>